@yellow: #113614;

.margenes(@top , @bottom){
  margin-top: @top;
  margin-bottom: @bottom;
}

/*contenido del jumbotron de la pagina index*/
.jumbotron {
  height: auto;
  .margenes(0px, 0px);
  /*padding: 0 0 0 0;*/ }

/*Hace que las dimensiones de la imagen promociones 
sean igual a las de la pantalla*/
.img {
  width: 100%;
  height: auto; }

/*margen de la imagen de la pagina nosotros*/
.img-about, .col {
  margin: 10px 10px 10px 10px; }

/*Diseño del footer*/
footer {
  padding: 15px 0px 0 0px;
  background-color: @yellow;
  .margenes(10px, 0px);  
  /*margin-top: 10px;
  margin-bottom: 0px;*/
  color: black; }

/*Maneja el estilo de las tarjetas "Más populares"*/
.card-tienda {
  flex: 1 250px;
  .margenes(30px, 0px);
  /*margin-top: 30px;
  margin-bottom: 0px;*/
  margin-right: 10px; }

/*maneja el color y el marge de las tarjetas preguntas*/
.card-container {
  flex: 1 200px;
  background-color: #e8e8e8;
  margin: 5px; }

/*Maneja el estilo de la tarjeta de la pagina nosotros*/
.card-about {
  .margenes(2px, 20px);
  /*margin-top: 20px;
	margin-bottom: 20px;*/
  background-color: #f7f7f7; }

/*Maneja el ancho de los botones*/
.btn-Ir {
  width: 100%;
  border-radius: 0px;
  background-color: black; }

.btn-preguntas {
  border-radius: 20px;
  background-color: black;
  height: 70px; }

.container-calificacion {
  padding: 110px  0px  140px 0px; }

.txt-underline {
  text-decoration-line: underline;
  text-decoration-style: solid; }

/*Maneja el color de la barra de navegacion*/
.navbar {
  background-color: @yellow; }

/*Maneja el margen del breadcrum*/
.breadcrumb {
  .margenes(85px, 0px);
  /*margin-top: 85px;
  margin-bottom: 0px;*/
   }

.tab-content {
  padding-top: 20px; }
